ion-list-header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  color: var(--ion-color-primary);
  margin-top: 8px;
}

ion-note {
  font-size: 0.78rem;
  color: var(--ion-color-medium);
}
